<%- include('./partials/header') %>
    <%- include('./partials/sidebar') %>
        <%- include('./partials/topbar') %>
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Sales</h1>
                </div>

                <!-- Content Row -->
                <div class="row">
                    <p>This is data of sales </p>
                </div>

                <!-- Data of Sales -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <a href="/sales/add" class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fa-solid fa-plus"></i>
                            </span>
                            <span class="text">Add</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="salesTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Invoice</th>
                                        <th>Time</th>
                                        <th>Total Summary</th>
                                        <th>Pay</th>
                                        <th>Change</th>
                                        <th>Customer</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Invoice</th>
                                        <th>Time</th>
                                        <th>Total Summary</th>
                                        <th>Pay</th>
                                        <th>Change</th>
                                        <th>Customer</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

            <script>
                $(document).ready(function () {
                    $('#salesTable').DataTable({
                        "lengthMenu": [[3, 10, 100], [3, 10, 100]],
                        "processing": true,
                        "serverSide": true,
                        "ajax": "/api/sales",
                        "columns": [
                            { "data": "invoice" },
                            {
                                "data": "time",
                                "render": function (data, type, row) {
                                    return formatTime(data);
                                }
                            },
                            {
                                "data": "totalsum",
                                "render": function (data, type, row) {
                                    return formatCurrency(data);
                                }
                            },{
                                "data": "pay",
                                "render": function (data, type, row) {
                                    return formatCurrency(data);
                                }
                            },{
                                "data": "change",
                                "render": function (data, type, row) {
                                    return formatCurrency(data);
                                }
                            },
                            { "data": "customer_name" },
                            {
                                "data": null,
                                "render": renderActionColumn,
                                "orderable": false
                            }
                        ]
                    });
                });

                function formatCurrency(amount) {
                    let newFormat = '';
                    if (amount) {
                        newFormat = 'IDR ' + parseFloat(amount).toLocaleString('id-ID', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                    }
                    return newFormat
                }

                function formatTime(dateString) {
                    const options = { day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: false };
                    return new Intl.DateTimeFormat('id-ID', options).format(new Date(dateString)).replace(',', '');
                }


                function renderActionColumn(data, type, row) {
                    return `
                <a href="/sales/edit/${data.invoice}" class="btn btn-success btn-circle">
                    <i class="fa-solid fa-circle-info"></i>
                </a>
                <a href="#" class="btn btn-danger btn-circle"
                data-bs-toggle="modal" data-bs-target="#deleteSaleModal-${data.invoice}">
                    <i class="fas fa-trash"></i>
                </a>

                <!-- Delete Sale Modal-->
                <div class="modal fade" id="deleteSaleModal-${data.invoice}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                <button type="button" class="btn-close" style="font-size: 1.5rem; background: none; border: none;"
                                    data-bs-dismiss="modal" aria-label="Close">&times;</button>
                            </div>
                            <div class="modal-body">Are you sure you want delete it?</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">No</button>
                                <a class="btn btn-primary" href="/sales/delete/${data.invoice}">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
                `;
                }
            </script>
            <!-- /.container-fluid -->
            <%- include('./partials/footer') %>